.sidebar-left {
  width: 387px;
  left: 196px;
  margin-top: 160px;

  &-horizontal-line{
    width: 385px;
    border: 1px solid #E5E5E5;
    margin-top: 23px;
    margin-bottom: 28px;
  }

  .category {

    &-list {
      margin-top: 14px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-list-item {
      line-height: 30px;
      font-family: 'Circle-Regular';
    }

  }
  .header {
    display: flex;
    justify-content: left;
    height: 25px;
    margin-top: 3px;
    font-family: 'Circle-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    text-transform: uppercase;
    color: $main-text;

    &-button {
      width: 30px;
      height: 30px;
      background-color: #fbfbfb;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      margin-left: 2px;

      &-img {
        margin-bottom: 3px;
      }
    }

    &-name {
      margin-top: 3px;
      margin-left: 8px;
    }
  }

  .filter-price {

    &-from-to {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      width: 351px;

      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
    }

    .slider {
      -webkit-appearance: none;
      width: 351px;
      height: 2px;
      border-radius: 5px;
      background: #CC32A1;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background: #FFFFFF;;
      cursor: pointer;
      border: 3px solid #CC32A1;
      border-radius: 10px;
    }

    .sidebar-left-horizontal-line {
      margin-top: 30px;
    }

  }

  .filter-1 {

    &-checkbox-container {
      margin-top: 14px;
      margin-left: 14px;
    }

    &-checkbox-item {
      display: flex;
      justify-content: left;

      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      /* or 176% */
      
      color: $main-text;
    }
  }


}














