.call-container {
  margin-top: 300px;
  margin-bottom: 200px;
  display: flex;
  width: 90%;
  position: fixed;
  justify-content: flex-end;


}

.ceo-support-call {
  z-index: 1;
  position: fixed; /* Фиксированное положение */
  right: 30px; /* Расстояние от правого края окна браузера */
  top: 70%; /* Расстояние сверху */
  cursor: pointer;
}

/***1300px***/
@media (max-width: 1300px) {
  .call-container {
    margin-top: -300px;
    margin-bottom: 200px;
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
  }

  .ceo-support-call {
    margin-right: 20px;
  }
}

/***375px***/
@media (max-width: 375px) {
  .call-container {
    position: absolute;
  }
}
