.grid-container-delivery {
  display: grid;
  grid-template-areas: "nav article";
  grid-template-columns: 483px 1fr;
  margin: 0;
  border: 1px solid #EEEEEE;

  #mainArticle {
    grid-area: article;
    margin: 0;
  }

  #mainNav {
    border-right: 1px solid #EEEEEE;
    grid-area: nav;
    margin-left: 197px;
  }
}

.delivery-product-description {
    max-width: 1061px;
    font-family: "Circle-Thin";
    font-size: 16px;
    line-height: 24px;
    margin: 65px 0 55px 0;

    .bold {
      font-family: "Circle-Bold";
    }

    &-block {
      margin-top: 24px;

      &:first-child {
        margin-top: 0;
      }
    }
}

.delivery-product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;

  &-control {
    display: flex;
    justify-content: space-between;
    max-width: 714px;
    width: 100%;
  }

  &-btn {
    outline: none;
    background: none;
    border: none;
    border-radius: 90px;
    border: 1px solid;
    border-color: #eee;
    font-size: 17px;
    height: 51px;
    width: 335px;
    font-family: "Circle-Regular";
    cursor: pointer;
    box-sizing: border-box;
    color: #777777;

    &:hover {
      color: $main-text;
    }
  }

  &-img {
    margin-top: 37px;
  }

  &-header {
    font-size: 70px;
    font-family: 'Cormorant', serif;

  }
}

.delivery-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 51px;
}

/*******MEDIA**********/
/*375 px*/
@media (max-width: 375px) {

  .grid-container-delivery {
    grid-template-areas: "nav" "article";
    border: none;

  }
  .delivery-container {
    margin-left: 18px;
  }

  .delivery-product-info {
    max-width: 332px;
  }

  .product-info-img {
    width: 151.56px;
  }

  .product-info-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .product-info-text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
  }

}
