.html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.header_logo-pic {
    position: absolute;
    width: 201px;
    height: 61.54px;
    left: 194px;
    top: 13.84px;
}

.search {
    position: absolute;
    width: 994px;
    height: 75px;
    left: 440px;
    top: 0px;
}

.search-icon-container {
    position: absolute;
    width: 35.87px;
    height: 35.87px;
    left: 445px;
    top: 28px;
   /* border: 1px solid #EEEEEE;
    box-sizing: border-box;
    transform: rotate(-90deg);*/
}

.search-icon {
    position: absolute;
    width: 13.58px;
    height: 13.58px;
    left: 456px;
    top: 39px;
}

.input-text {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 491px;
    top: 31px;

    font-family: Circe;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
}

.close-search-input {
    position: absolute;
    width: 23px;
    height: 47px;
    left: 1430.99px;
    top: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */


    color: #1A1A1A;

    transform: rotate(45deg);
}

.line {
    position: absolute;
    width: 895px;
    height: 0px;
    left: 493px;
    top: 59px;

    border: 1px solid #EEEEEE;
}

.close-icon {
    position: absolute;
    width: 23px;
    height: 47px;
    left: 1415px;
    top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
}

.input-text {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 491px;
    top: 31px;

    font-family: Circe;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}

.phone-number-container {
    position: absolute;
    width: 263px;
    height: 34px;
    left: 1459px;
    top: 28px;
}

.number {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    text-align: right;
    color: #CC32A1;
}
.number-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    text-align: right;
    color: black;
}
.number-text {
    font-size: 14px;
    text-align: right;
    color: black;
}

.input1 {
    border:none;
    outline: none;

}
.input1::-webkit-input-placeholder {
    color:#000000;
    font-size: 14px;
}

.nav-menu {
    position: absolute;
    width: 1525px;
    height: 40px;
    left: 198px;
    top: 78px;

    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    /* identical to box height, or 267% */

    text-align: center;
    text-transform: uppercase;

    color: #1A1A1A;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 23px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    text-decoration: none;
    color: black;
}

.line2 {
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 121px;

    border: 1px solid #EEEEEE;
}

.eclipse3 {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 7px;
    top: 242px;

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 250px;
}

.line4 {
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 429px;

    border: 1px solid #EEEEEE;
}

.line5 {
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 524px;

    border: 1px solid #EEEEEE;
}

.vector {
    position: absolute;
    left: 38%;
    right: 79.69%;
    top: 48%;
    bottom: 93.79%;
}

.eclipse4 {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 1434px;
    top: 242px;

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 250px;
}

.vector2 {
    position: absolute;
    left: 38%;
    right: 10.42%;
    top: 48%;
    bottom: 93.79%;
}

.figure1 {
    position: absolute;
    width: 158.28px;
    height: 55.55px;
    left: 800.75px;
    top: 159.39px;
    color: black;
}

.figure2 {
    position: absolute;
    width: 75.04px;
    height: 52.73px;
    left: 830px;
    top: 154px;
}

.figure3 {
    position: absolute;
    width: 7.65px;
    height: 8.85px;
    left: 814px;
    top: 177.09px;
}

.figure4 {
    position: absolute;
    width: 594px;
    height: 143px;
    left: 679px;
    top: 212px;

    font-family: Carolina;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 142px;
    /* identical to box height */

    text-align: center;
}

.figure5 {
    position: absolute;
    width: 246.73px;
    height: 125.92px;
    left: 831px;
    top: 310.94px;
}

.figure6 {
    position: absolute;
    width: 150.2px;
    height: 105.36px;
    left: 881.8px;
    top: 326.44px;
}

.figure7 {
    position: absolute;
    width: 12.05px;
    height: 11.02px;
    left: 995.25px;
    top: 404.01px;
}
.slide1{
    position: absolute;
    width: 592px;
    height: 476px;
    left: 679px;
    top: 436.86px;
}

.to-catalog {
    position: absolute;
    width: 283px;
    height: 294px;
    left: 1223px;
    top: 367px;
    background: rgba(235, 222, 232, 0.1);
    backdrop-filter: blur(70px);
    border-radius: 20px;
}

.to-catalog-text1 {
    position: absolute;
    width: 179px;
    height: 79px;
    left: 52px;
    top: 62px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #777777;
}

.to-catalog-text2 {
    position: absolute;
    width: 179px;
    height: 79px;
    left: 52px;
    top: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: black;
}

.button-to-catalog {
    position: absolute;
    width: 179px;
    height: 51px;
    left: 52px;
    top: 189px;

    background: #FBFBFB;
    border: 1px solid #CC32A1;
    box-sizing: border-box;
    border-radius: 90px;
}

.catalog {
    position: absolute;
    width: 77px;
    height: 40px;
    left:40px;
    top:6px;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    /* identical to box height, or 286% */

    text-align: center;
    text-transform: uppercase;

    color: #CC32A1;
}

.catalog-arrow {
    position: absolute;
    left: 132px;
    top: 36%;
}

.button-call {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 1644px;
    top: 811px;
    border-radius: 50px;
    background: #1A1A1A;
}

.phone1 {
    position: absolute;
    left: 21.98px;
    right: 26.06px;
    top: 25.72px;
    bottom: 67.33%;
}

.phone2 {
    position: absolute;
    left: 50%;
    right: 24px;
    top: 31%;
    bottom: 70.64%;
}

.phone3 {
    position: absolute;
    left: 37.37px;
    right: 14.54%;
    top: 29.41px;
    bottom: 67.33%;
}

.page-number-slider1 {
    position: absolute;
    width: 68px;
    height: 48px;
    left: 199px;
    top: 811px;

    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;

    color: #1A1A1A;
}

.page-number-slider1 span:nth-child(2) {
    font-size: 20px;
}

.line6 {
    position: absolute;
    top: 121px;
    left: 580px;
    border: 1px solid #EEEEEE;
    height: 100%;
}

.line7 {
    position: absolute;
    top: 121px;
    left: 960px;
    border: 1px solid #EEEEEE;
    height: 100%;
}





